# 2024 Olymptic Medelist Dataset

## 1. How many unique countries are represented in the dataset?
*Hint: Use the `unique()` or `nunique()` function on the `country` or `country_long` column.*

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("medallists.csv")
data.head()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True
1,2024-07-27,Silver Medal,2.0,GANNA Filippo,Male,ITA,Italy,Italy,ITA,Italy,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520,NaN,True
2,2024-07-27,Bronze Medal,3.0,van AERT Wout,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1994-09-15,1903147,NaN,True
3,2024-07-27,Gold Medal,1.0,BROWN Grace,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1992-07-07,1940173,NaN,True
4,2024-07-27,Silver Medal,2.0,HENDERSON Anna,Female,GBR,Great Britain,Great Britain,GBR,Great Britain,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1998-11-14,1912525,NaN,True

In [3]:
# Your code here
len(data["country"].unique())

92

## 2. Which event had the most medalists?
*Hint: Use `value_counts()` on the `event` column to determine the event with the highest number of medalists.*

In [4]:
# Your code here
data["event"].value_counts().idxmax()

'Men'

## 3. What is the gender distribution of the medalists?
*Hint: Use `value_counts()` on the `gender` column.*

In [5]:
# Your code here
data["gender"].value_counts()

gender
Female    1162
Male      1153
Name: count, dtype: int64

## 4. How many athletes from Belgium won medals?
*Hint: Filter on the `country_code` column with `BEL` and check the number of rows.*

In [6]:
# Your code here
#data[(data.country_code=="BEL") & (data.is_medallist=="TRUE")]

data_BEL = data[data.country_code=='BEL']
len(data_BEL)

10

## 5. What is the average age of gold medalists?
*Hint: Filter for `Gold Medal` in the `medal_type` column, and calculate the difference between `medal_date` and `birth_date`.*

In [7]:
#data.info()

In [8]:
# Your code here
gold_medalists = data[data.medal_type == "Gold Medal"] 

gold_medalists["medal_date"]=pd.to_datetime(gold_medalists["medal_date"], format = "mixed")
gold_medalists["birth_date"]=pd.to_datetime(gold_medalists["birth_date"], format = "mixed")


#pd.to_datetime("medal_date", format = "mixed").dt.year - pd.to_datetime("birth_date", format = "mixed").dt.year

data_agemean=gold_medalists["medal_date"].dt.year - gold_medalists["birth_date"].dt.year 
data_agemean.mean()

C:\Users\nikol\AppData\Local\Temp\ipykernel_30616\4012596779.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gold_medalists["medal_date"]=pd.to_datetime(gold_medalists["medal_date"], format = "mixed")
C:\Users\nikol\AppData\Local\Temp\ipykernel_30616\4012596779.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gold_medalists["birth_date"]=pd.to_datetime(gold_medalists["birth_date"], format = "mixed")

26.993351063829788

In [9]:
len(gold_medalists)

752

## 6. List the names of all athletes who won a silver medal in a cycling event.
*Hint: Filter by `medal_type` (Silver) and `discipline` (Cycling Road), then display the `name` column.*

In [10]:
# Your code here

data_silver = data[(data.medal_type == "Silver Medal") & (data.discipline == "Cycling Road")]

#data_event = data_silver[data.discipline == "Cycling Road"]

#data_names = data_event.lists[names]

data_silver["name"]

1         GANNA Filippo
4        HENDERSON Anna
267    MADOUAS Valentin
336        VOS Marianne
Name: name, dtype: object

## 7. How many events did female athletes participate in?
*Hint: Filter on `gender` (Female) and count the unique values in the `event` column.*

In [15]:
# Your code here
data[data['gender'] == 'Female']['event'].nunique()

150

## 8. Which country had the highest number of gold medals?
*Hint: Filter for `Gold Medal` in the `medal_type` column and use `value_counts()` on the `country` column.*

In [43]:
# Your code here
gold = data[data.medal_type == "Gold Medal"]

#gold["medal_type"].value_counts()

data["country"]
gold["medal_type"].value_counts()

gold["country"].value_counts().head(1)

country
United States    134
Name: count, dtype: int64

## 9. What are the top three most common disciplines for male athletes?
*Hint: Filter by `gender` (Male) and use `value_counts()` on the `discipline` column to get the top three.*

In [32]:
# Your code here
data_top3 = data[data.gender=="Male"] 

data_top3["discipline"].value_counts().head(3)

discipline
Athletics    113
Swimming     107
Rowing        72
Name: count, dtype: int64

## 10. Find the youngest and oldest medalists in the dataset.
*Hint: Calculate the difference between `medal_date` and `birth_date`, then use `min()` and `max()`.*

In [ ]:
# Your code here
data['age'] = data["medal_date"].dt.year - data["birth_date"].dt.year 

#data.sample()

In [18]:
data.sample()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,age
2063,2024-08-10,Bronze Medal,3.0,IVERSEN Rikke,Female,DEN,Denmark,Denmark,DEN,Denmark,...,W,Handball,Women,HTEAM,/en/paris-2024/results/handball/women/fnl-0002...,1993-05-18,1895226,HBLWTEAM7---DEN01,True,NaN

In [24]:
data['age'].min()

14.0

In [25]:
data['age'].max()

55.0